.anim-text {
  transition: all 0.4s ease;
}

.anim-text:hover {
  color: rgb(6, 129, 129);
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 295px) {
  .text-user {
    display: none;
  }
}
@media (max-width: 295px) {
  .top-bar {
    display: none;
  }
}

/*  */
/* masonry */
.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.image-item {
  margin-bottom: 30px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* paginated nav */
.normal-nav {
  color: #057a53;
  padding: 5px 10px;
}

.active-nav {
  background-color: #13855f;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}
